<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if @article.comments.size > 0 %>
  <h2>Comments</h2>
  <%= render @article.comments %>
<% else %>
  <h2>Be the first to comment this article</h2>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
